<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading"> Grow your buiseness with us</p>
        <div class="row">
          <div class="col-md-6 col-12 hero-text ">
            <figure>
              <img src="images/about.svg" alt="hero section image" >
            </figure>
            </div>
           
          {{!-- right side --}}

          <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start  flex-column">
            <h1>we're the professional developers</h1>

            <p>welcome to  <span class="bold-style"> team akshit productions</span> the main page of akshit productions website managed by akshit sharma the owner of akshit productions</p>
            <button class="btn-style btn-primary">Read more</button>
          
          
          </div> 
        </div>
    </div>
  </div>